In [15]:
import pandas as pd
import numpy as np

In [27]:
bike=pd.read_csv('/content/drive/MyDrive/london_merged.csv')

In [28]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [29]:
bike.head()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [30]:
bike.shape

(17414, 10)

In [31]:
#count the unique value in the weather_code column
bike.weather_code.value_counts()

weather_code
1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: count, dtype: int64

In [32]:
# count the unique value in the season column
bike.season.value_counts()

season
0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: count, dtype: int64

In [33]:
# specifing the column names that I want to use
new_cols_dict={
    'timestamp':'time',
    'cnt':'count',
    't1':'temp_real_C',
    't2':'temp_feels_like_C',
    'hum': 'humidity_percent',
    'wind_speed':'wind_speed_kph',
    'weather_code':'weather',
    'is_holiday':'is_holiday',
    'is_weekend':'is_weekend',
    'season':'season'
}
# Rename the column names
bike.rename(new_cols_dict,axis=1, inplace=True)

In [34]:
# changing the humidity values to percentage (i.e, a value between o and 1)
bike.humidity_percent = bike.humidity_percent / 100

In [35]:
# Create a season dictionary so that  we can map the integers 0-3 to actual written values
season_dict = {
    '0.0':'spring',
    '1.0':'summer',
    '2.0':'autumn',
    '3.0':'winter'
}

# Create a weather dictionary so that we can map the integer into actual written values
weather_dict = {
    '1.0':'Clear',
    '2.0':'Scattered clouds',
    '3.0':'Broken clouds',
    '4.0':'Cloudy',
    '7.0':'Rain',
    '10.0':'Rain with thunderstorm',
    '26.0':'Snowfall'}

# Changing the season column data type to string
bike.season = bike.season.astype('str')
# Mapping the values 0-3 to the actual written seasons
bike.season = bike.season.map(season_dict)

# Changing the wheather column data type to string
bike.wheather = bike.wheather.astype('str')
# Mapping the values to the actual written weathers
bike.wheather = bike.wheather.map(weather_dict)

AttributeError: 'DataFrame' object has no attribute 'wheather'